.band{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}
.band-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* .cart-container{
    padding: 5px;
    border-radius: 5px;
    background-color: #236161;
    box-shadow:  1px 1px 5px #cccbcb;
    margin-left: 10px;
    color: white;
    
}
.cart-container h4{
    text-align: center;
} */