.cart-item{
    display: flex;
    
    /* justify-content: space-evenly; */
    background-color: white;
    color: teal;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.cart-item .img{
    width: 60px;
    margin-left: 20px;
}
.cart-item h4{
    margin-left: 20px;
}