.img{
    width: 200px;
    border-radius: 50%;
}

.singer {
    color: #5d5d5d;
    text-align: center;
    box-shadow: 1px 1px 5px #cccbcb;
    margin: 10px;
    padding: 15px 5px;
    border-radius: 10px;
    background-color: #fff;
    
}
.btn {
    background-color: teal;
    width: 200px;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.icon{
    margin-right: 7px;
    font-size: 15px;
}
.budget{
    color: #ff1919;
}
.title{
    color: teal;
    font-weight: bold;
}